[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "cd backend && npm install"
]

[phases.build]
cmds = [
  "cd frontend && npm install",
  "cd frontend && npm run build"
]

[start]
cmd = "bash start.sh"
